head
  meta(charset="UTF-8")
  title= data[page]['title']
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content=data[page]['description'])
  meta(name="keywords" content=data[page]['keywords'])

  // OG
  meta(property="og:title" content=data[page]['title'])
  meta(property="og:description" content=data[page]['description'])
  meta(property="og:image" content=data[page]['image'])
  meta(property="og:url" content=data[page]['url'])
  meta(property="og:type" content="website")

  // Twitter Card
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content=data[page]['title'])
  meta(name="twitter:description" content=data[page]['description'])
  meta(name="twitter:image" content=data[page]['image'])

  // モバイル関連
  link(rel="apple-touch-icon" href="path/to/icon.png")

  //CSS・JS
  if PATH_TYPE === 'main'
    script(src="./assets/js/index.js" type="module" defer="defer")
    link(rel="stylesheet" href="./assets/css/index.scss")
  else if PATH_TYPE === 'sub'
    script(src="../assets/js/index.js" type="module" defer="defer")
    link(rel="stylesheet" href="../assets/css/index.scss")